.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh;
  background-color: #161616;
  color: white;
}




.social-icons:hover {
  color: #f97316;
}

.copy{
  padding-top: 10%;
  padding-left: 25%;
}

.copy1{
  padding-top: 1%;
  padding-left: 7%;
}



.footer-left {
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 15%;
}

.footer-right {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2vh;
}


.social-icons {
  margin-right: 3vh;
  color: white;
  
  font-size: 150%;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links a {
  color: white;
  margin: 0vh 2vh;
  text-decoration: none;
}
